.card{
    background-color:transparent;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.315) 5px 5px 15px;
    text-align: center;
    height:250px;
}

.card:hover{
    transform: scale(1.02);
}

.card .card-body{
    padding-top: 5px;
    border-radius: 15px;
    font-size: 2rem;
    background-color: #36373f;
    color: white;
}


.card input[type=text],
.card input[type=text]:focus,
.card input[type=text]:active,
.card input[type=date]
{
    border-radius: 0;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
    box-shadow: none;
}

.bi-x{
    font-size: 1.65rem;
}

.bi-x:hover{
    color: royalblue;
}

form p{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1rem;
}